# Dependencies
node_modules
.pnp
.pnp.js
.npmrc

# Testing
coverage

# Next.js
.next/
out/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo
.turbo

# Vector DB data
services/vector-db/data

# Trained agent models
packages/agents/**/models

# Misc
.DS_Store
*.pem
posey_deploy_key
*.env
.env.local
.env.development
.env.production

services/model/venv/
logs

# Python cache
__pycache__/

# Conda cache
.conda/

.nx/cache
.nx/workspace-data

# Next.js
.next
out

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Build
dist

# Kubernetes
config-map.yaml
secrets.yaml
*-secrets.yaml

delete_me

.yarn/cache

keys

# Voyager agent virtual environments
services/core/agents/envs/
services/core/voyager/agents/envs/