# Node
node_modules
npm-debug.log
.pnp.*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build outputs
dist
.next
.turbo
.cache

# Dev/Environment
.env*
.git
.DS_Store
.vscode
.idea

# Keep workspace files
!package.json
!.yarnrc.yml
!yarn.lock
!tsconfig*.json
!.pnp.cjs
!services/
!packages/ 