# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Onlypattern matched against files nested
# within the chart directory (e.g. templates/NOTES.txt) will be ignored.
#
# Example sourced from https://helm.sh/docs/chart_template_guide/helm_ignore_file/
#

# Ignore templates/* directories unless they start with voyager
templates/*
!templates/voyager/*

# Ignoresecret files
*secret*

# Ignore vim swap files
.*.swp

# Common VCS files
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Artifacts
*.tgz

# Temporary files
*~

# Charts directory is managed by dependency update
charts/
# End ignore patterns 