.interface {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  transition: grid-template-columns 0.6s ease-in-out;

  &.sidebar-closed {
    grid-template-columns: 0px 1fr;
  }
}

.chat-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.chat-content-main {
  height: 100%;
}

.chat-header {
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
